:root {
    --negro-1: #4285f4 ;
    --negro-2: #21252e;
    --blanco-1: #ffffff;
    --blanco-2: #dfe4ea;
}


/****************************/
/*          fondos          */
/****************************/


.bg-negro-1{background:  var(--negro-1) !important;}

.bg-negro-2{background:  var(--negro-2) !important;}

.bg-blanco-1{background:  var(--blanco-1) !important;}

.bg-blanco-2{background:  var(--blanco-2) !important;}


/****************************/
/*          color           */
/****************************/


.color-negro-1{color:  var(--negro-1) !important;}

.color-negro-2{color:  var(--negro-2) !important;}

.color-blanco-1{color:  var(--blanco-1) !important;}

.color-blanco-2{color:  var(--blanco-2) !important;}